<html>
  <head>
    <title>Go Game Collection</title>
  </head>
  <body>
    <h1>{{ .Game.Name }}</h1>

    <p>Added at {{ .Game.CreatedAt }}</p>

    <p>Systems
      <ul>
      {{ range .Game.GameSystems }}
      <li>{{ .Name }}</li>
      {{ end }}
    </ul></p>

    <p>Status: {{ if .Game.Finished}}
                Finished
               {{ else }}
                  {{ if .Game.Played }}
                  Played
                  {{ else }}
                  Unplayed
                  {{ end }}
                {{ end }}</p>
  </body>
</html>
